<li class="menu_list_item">
  <img src="../../assets/icon-menu-paint.svg" alt="menu icon paint" />
  <span class="menuText">Themes</span>
</li>
<li class="menu_list_item">
  <img src="../../assets/icon-menu-scissors.svg" alt="menu icon paint" />
  <span class="menuText">Ringtone Cutter</span>
</li>
<li class="menu_list_item">
  <img src="../../assets/icon-menu-stopwatch.svg" alt="menu icon paint" />
  <span class="menuText">Sleep Timer</span>
</li>
<!-- zur Visualisierung -->
<li class="menu_list_item" style="height:150px"></li>
