.list-row {
  list-style: none;
}

.menu_list_item {
  padding: 1rem 0.5rem 1rem 1.2rem;
  background-color: #10121d;
  letter-spacing: var(--letter-spacing);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.menu_list_item > :nth-child(1) {
  margin-right: 1rem;
}

.menuText {
  position: relative;
  color: var(--color-subtext-white);
  font-size: var(--font-small-sub);
  width: 100%;
}

.menuText:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color-bg-sidemenu-body);
  position: absolute;
  bottom: -1rem;
  left: 0px;
}

.stats {
  display: flex;
  justify-content: center;
  color: #c1c0c0;
  font-size: var(--font-small-sub);
  width: 100%;
  max-width: 200px;
  padding-left: 0.1em;
  margin: 0;
}

.stats-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 1.2rem;
}
