.btn {
  border-radius: 1.2rem;
  font-size: var(--font-small-sub);
  letter-spacing: var(--letter-spacing);
  display: flex;
  align-items: center;
  color: white;
  padding: 0.3rem 1.2rem 0.3rem 1.2rem;
  background-color: transparent;
  border: 1px solid white;
}

.btn > span {
  margin-bottom: 0.01rem;
}

.btn > :nth-child(1) {
  margin-right: 0.5rem;
}

.btn-primary {
  background: var(--color-gradient);
  border: none;
}
