.track {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 60px;
}

.artist {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
}

.artist::after {
  background-color: #272b36;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.albumInformation {
  height: 100%;
  flex-grow: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.albumInformation > span {
  display: block;
}

.albumInformation > span:nth-child(1) {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
}

.albumInformation > span:nth-child(2) {
  color: rgba(255, 255, 255, 0.28);
  font-size: 11px;
}

.playButton {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 100%;
}

.playButton:focus {
  outline: none;
}

.playButton > img {
  width: 22px;
  height: 22px;
}
