.nav-top {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 16px 24px;
}

.nav-top__burgerIcon {
  margin-right: 32px;
}

.nav-top__text {
  text-align: center;
  width: 100%;
}

.nav-top__text--setting {
  padding-right: 100px;
}

.nav-top__searchfield {
  background-color: var(--color-searchfield);
  border-radius: var(--border-radius);
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--color-subtext);
  font-size: var(--font-small-sub);
  padding: 10px 0px 10px 14px;
}

