.grid-basis{
  display: grid;
  grid-template-rows: 60px 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.grid-basis__top {
  grid-row: 1 / 2;
}

.grid-basis__body{
  grid-row: 2 / 3;
}

.menu_list_item {
  background-color: none;
}

.grid-basis__rest {
  grid-row: 3 / 4;
}