.side-nav {
  width: 80%;
  height: 100%;
  box-shadow: 11px 3px 25px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0px;
  left: 0px;
}

.side-nav-head {
  display: block;
  padding: 2rem 3rem;
  background-color: rgba(255, 255, 255, 0.03);
}

.side-nav-body {
  width: 100%;
  height: 100%;
  background-color: #10121d;
}

.side-nav-items {
  padding-left: 0.1em;
  margin-top: 0px;
}
