<div class="container">
  <div class="player">
    <div class="player__main">
      <button class="player__button">
        <img
          src="../../assets/player/icon-player-backward.svg"
          alt="Last Song"
        />
      </button>
      <button class="player__button">
        <img src="../../assets/player/icon-player-play.svg" alt="Play Music" />
      </button>
      <button class="player__button">
        <img
          src="../../assets/player/icon-player-forward.svg"
          alt="Next Song"
        />
      </button>
    </div>
    <div class="player__secondary">
      <div class="player__functions">
        <button class="player__button">
          <img src="../../assets/player/icon-player-list.svg" alt="playlist" />
        </button>
        <span>Playlist</span>
      </div>
      <div class="player__functions">
        <button class="player__button">
          <img
            src="../../assets/player/icon-player-shuffle.svg"
            alt="shuffle"
          />
        </button>
        <span>Shuffle</span>
      </div>
      <div class="player__functions">
        <button class="player__button">
          <img src="../../assets/player/icon-player-repeat.svg" alt="repeat" />
        </button>
        <span>Repeat</span>
      </div>
      <div class="player__functions">
        <button class="player__button">
          <img src="../../assets/player/icon-player-eq.svg" alt="EQ" />
        </button>
        <span>EQ</span>
      </div>
      <div class="player__functions">
        <button class="player__button">
          <img
            src="../../assets/player/icon-player-favorite.svg"
            alt="like it"
          />
        </button>
        <span>Favorites</span>
      </div>
    </div>
  </div>
</div>
