.footer-nav {
  min-height: 60px;
  width: 100vw;
  box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
}

.footer-nav-item {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  color: #63666e;
  font-size: 0.8rem;
}

.footer-nav-item > img {
  margin-bottom: 5px;
}

.txt-gradient {
  background: -webkit-linear-gradient(270deg, #ed8770, #d9519d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-active {
  color: #d9519d;
}
