@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  background-color: #383b49;
  color: #ffffff;
}

input,
button,
select,
optgroup,
textarea, h1 {
  margin: 0;
  font-family: 'Cabin', sans-serif;
}
