/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */

@import url("./assets/fonts/circular-std.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --font-family: "Circular Std", sans-serif;
  --color-active: #d9519d;
  --color-subtext: #63666e;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  margin: 0;
  /* background-color: #383b49; */
  background-color: #181b2c;
  color: #ffffff;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
}
