/* @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); */

@import url("./assets/fonts/circular-std.css");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --border-radius: 1.2rem;
  --font-family: "Circular Std", sans-serif;
  --font-small-sub: 0.8rem;
  --letter-spacing: 0.01rem;
  --color-active: #d9519d;
  --color-bars: #ed8770;
  --color-subtext: #63666e;
  --color-subtext-middle: #585a66;
  --color-subtect-dark: #383b49;
  --color-orange: #e1914b;
  --color-searchfield: #292E4B;
  --color-subtext-white: rgba(255, 255, 255, 0.8);
  --color-bg-sidemenu-body: rgba(56, 60, 72, 0.4);
  --color-gradient: linear-gradient(180deg, #ed8770, #d9519d);
  --color-gradient-dark: linear-gradient(180deg, #c35bd1, #657ddf);
}

html {
  font-size: 16px;
}

body {
  font-family: var(--font-family);
  margin: 0;
  /* background-color: #383b49; */
  background-color: #181b2c;
  color: #ffffff;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
}
