.album {
  width: 100%;
  color: #c1c0c0;
  font-size: var(--font-small-sub);
}

.album > img {
  width: 100%;
  height: auto;
}

.album-title {
  color: #eeeeee;
}

.line {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
